<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/defaultLayout">
<head>
    <title>Phaser Demo</title>
    <script th:src="@{/lib/phaser/phaser.min.js}"></script>
    <script th:src="@{/js/phaserDemo.js}"></script>
    <style>
        #game_div {
            width: 400px;
            margin: auto;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="container"><!-- .container is not necessary -->
    <div layout:fragment="content">
        <br/>
        <p class="text-center">Press the <kbd>space</kbd> to jump</p>
        <div id="game_div"> </div>


    </div>
</div>
</body>
</html>
