<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">╯°□°）╯︵ ┻━┻</title>

    <link rel="stylesheet" th:href="@{/lib/bootstrap/css/bootstrap-readable.min.css}"/>
    <link rel="stylesheet" th:href="@{/lib/formvalidation/css/formValidation.min.css}"/>

    <script th:src="@{/lib/jquery/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/lib/formvalidation/js/formValidation.min.js}"></script>
    <script th:src="@{/lib/formvalidation/js/framework/bootstrap.min.js}"></script>
    <script th:src="@{/lib/formvalidation/js/language/zh_CN.js}"></script>

    <!-- custom files -->
    <link rel="stylesheet" th:href="@{/css/custom.css}"/>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/navbar.js}"></script>

</head>
<body>

<div th:include="fragment/navbar::navbar"></div>

<div layout:fragment="content"></div>

</body>
</html>
