<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/defaultLayout">
<head>
    <title>User List</title>
</head>
<body>
<div class="container">
    <div layout:fragment="content">
        <h3>用户列表<code>.table-bordered</code> <code>.table-hover</code></h3>
        <div class="table-responsive">
            <table class="table table-bordered table-hover ">
                <thead>
                <th>id</th>
                <th>name</th>
                <th>password</th>
                <th>enable</th>
                <th>updateTime</th>
                <th>createTime</th>
                </thead>
                <tbody>
                <tr th:each="collect,iterStat : ${userList}">
                    <td th:text="${collect.id}"></td>
                    <td th:text="${collect.username}"></td>
                    <td th:text="${collect.password}"></td>
                    <td th:text="${collect.enable}"></td>
                    <td th:text="${collect.updateTime}"></td>
                    <td th:text="${collect.createTime}"></td>
                </tr>
                </tbody>
            </table>
        </div>


        <nav aria-label="pagination">
            <ul class="pagination">
                <li>
                    <a th:href="@{/showAllUser(pageNum=${pageInfo.prePage},pageSize=${pageInfo.pageSize})}"
                       th:classappend="!${pageInfo.hasPreviousPage}?'disabled'"
                       aria-label="Previous" class="btn">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <div th:each="collect,iterStat : ${pageInfo.navigatepageNums}" th:remove="tag">
                    <li th:class="${pageInfo.pageNum}==${collect}?'active'">
                        <a th:href="@{/showAllUser(pageNum=${collect},pageSize=${pageInfo.pageSize})}"
                           th:text="${collect}">99</a>
                    </li>
                </div>
                <li>
                    <a th:href="@{/showAllUser(pageNum=${pageInfo.nextPage},pageSize=${pageInfo.pageSize})}"
                       th:classappend="!${pageInfo.hasNextPage}?'disabled'"
                       aria-label="Next" class="btn">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

        <ul class="list-group hide">
            <li class="list-group-item" th:text="'pageNum : '+${pageInfo.pageNum}">pageNum</li>
            <li class="list-group-item" th:text="'pageSize : '+${pageInfo.pageSize}">pageSize</li>
            <li class="list-group-item" th:text="'size : '+${pageInfo.size}">size</li>
            <li class="list-group-item" th:text="'total : '+${pageInfo.total}">total</li>
            <li class="list-group-item" th:text="'pages : '+${pageInfo.pages}">pages</li>
            <li class="list-group-item" th:text="'prePage : '+${pageInfo.prePage}">prePage</li>
            <li class="list-group-item" th:text="'nextPage : '+${pageInfo.nextPage}">nextPage</li>

            <li class="list-group-item" th:text="'isFirstPage : '+${pageInfo.isFirstPage}">isFirstPage</li>
            <li class="list-group-item" th:text="'isLastPage : '+${pageInfo.isLastPage}">isLastPage</li>
            <li class="list-group-item" th:text="'hasPreviousPage : '+${pageInfo.hasPreviousPage}">hasPreviousPage</li>
            <li class="list-group-item" th:text="'hasNextPage : '+${pageInfo.hasNextPage}">hasNextPage</li>

            <li class="list-group-item" th:text="'navigatePages : '+${pageInfo.navigatePages}">navigatePages</li>
            <li class="list-group-item">
                <p>navigatePages : </p>
                <ul th:each="collect,iterStat : ${pageInfo.navigatepageNums}">
                    <li th:text="${collect}"></li>
                </ul>
            </li>
            <li class="list-group-item" th:text="'navigateFirstPage : '+${pageInfo.navigateFirstPage}">navigateFirstPage</li>
            <li class="list-group-item" th:text="'navigateLastPage : '+${pageInfo.navigateLastPage}">navigateLastPage
            </li>
        </ul>
    </div>
</div>
</body>
</html>
