<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <title>Hello World! -with BootStrap Demo</title>

    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-flaty.min.css}"/>

    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/jquery/jquery-3.2.1.min.js}"></script>

</head>
<body>
<div class="container-fluid">
    <h3>表格<code>.table-bordered</code> <code>.table-hover</code></h3>
    <div class="table-responsive">
        <table class="table table-bordered table-hover ">
            <thead>
            <th>id</th>
            <th>name</th>
            <th>password</th>
            <th>enable</th>
            <th>update_time</th>
            <th>create_time</th>
            </thead>
            <tbody>
            <tr th:each="collect,iterStat : ${userList}">
                <td th:text="${collect.id}"></td>
                <td th:text="${collect.username}"></td>
                <td th:text="${collect.password}"></td>
                <td th:text="${collect.enable}"></td>
                <td th:text="${collect.update_time}"></td>
                <td th:text="${collect.create_time}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
